@charset "utf-8";
/* CSS Document */
*, *:active, *:focus {
    outline: 0 none; margin:0px; padding:0px;
}
body {
    background: url(../images/background.png) repeat-x scroll center top #2C4762;
    color: #555;
    font: 14px/1.4 Cambria;
}
a {
	text-decoration: none;color: Green;font-weight: bold;
	cursor:pointer;
}
a:hover { text-decoration:underline }
#menubar a{color:#FFF; font-size:18px; text-decoration:none}


#divcontainer { width:950px; height:auto; }
#new_post_icons { border-width: 0px; }
#content{
    height:auto;
    background: none repeat scroll 0 0 #2C4762;
    border-radius: 15px; padding:10px;
}

#content_left { width:700px; }
#content_right { width:210px; margin-left:10px;}
#content_left_top { padding:10px;  background-color:#fff;  }
#content_left1 { width:100%; }

#menu_filt{display:none; margin-left:-180px; text-align:justify; margin-top:30px; position:absolute; background-color:rgba(0,0,0,0.85);}
#menu_filt_div:hover table{ display:inline;}

#answerText{ width:99%;  background-color:rgba(255,255,255,0.05); border-radius:3px;padding:10px;color: white;font-size: 14px;}